
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
 body{
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px;
 }
 .container{
     display: flex;
     justify-content: center;
 }
 section.container {
    margin-bottom: 50px;
}



  /*--------------------------------
   header-style-start--------------- */

 .header-content{
  display: flex;
  width: 100%;
  margin-bottom: 125px;
  background-color: #2D25A0;
  padding-top: 70px;
  padding-bottom: 70px;

 }
 .header-title{
     width: 50%;
     margin-left: 150px;
 }
 .header-title h1{
     color:white;
     font-size: 60px;
     
 }

 .button{
     display: inline;
    background: #E02C6D;
    padding: 17px;
    border-radius: 30px;
 }
 .button a{
     text-decoration: none;
     color: white;
    
 }
 .button i{
    color: white;
 }

 .header-image{
     width: 50%;
 }
 .header-image img{
     width: 556px;
     height: 430px;
 }

  /*--------------------------------
   header-style-end--------------- */




/*------------------------
players-style-start
-------------------------- */

   .players{
    width: 1075px;
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-row-gap: 40px;
       grid-column-gap: 40px;
      
   }

   .player{
    box-shadow: 10px 17px 24px #aaaaaa;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
}



   
   .player-image img{
    width: 300px;
    height: 250px;
    border-radius: 30px;
    margin-top: 20px;
}

.player-info {
    margin: 0px 20px;
}
/*------------------------
players-style-end
-------------------------- */


/* ---------------------------------------
match-highlight-style-start----------------- */
.banner{
    display: flex;
    width: 1075px;
    margin-top: 150px;
    column-gap: 100px;
}

.banner-details h1{
 font-size: 50px;
 margin-bottom: 10px;
 margin-top: 0px;
}

.banner-details p{
    margin-bottom: 30px;
}

.banner-thumbnail img{
    width: 560px;
    height: 420px;
    border-radius: 25px;

}

#result-banner{
    margin-bottom: 100px;
}
/* ---------------------------------------
match-highlight-style-end----------------- */




/* ---------------------------------------
Footer-style-start----------------- */

.footer{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}



.footer .logo img{
    width: 356px; 
    height: 85px;
}

.social-icons{
    display: flex;
}

.social-icon a{
    margin-left: 30px;
    font-size: 20px;
    color: E02C6D;
    color: #C0C0C0;
}

/* ---------------------------------------
Footer-style-end----------------- */







