
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
 body{
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px;
 }
 .container{
     display: flex;
     justify-content: center;
 }
 section.container {
    margin-bottom: 50px;
}



  /*--------------------------------
   header-style-start--------------- */

 .header-content{
  display: flex;
  width: 100%;
  margin-bottom: 125px;
  background-color: #2D25A0;
  padding-top: 70px;
  padding-bottom: 70px;

 }
 .header-title{
     width: 50%;
     margin-left: 150px;
 }
 .header-title h1{
     color:white;
     font-size: 60px;
     
 }

 .button{
     display: inline;
    background: #E02C6D;
    padding: 17px;
    border-radius: 30px;
 }
 .button a{
     text-decoration: none;
     color: white;
    
 }
 .button i{
    color: white;
 }

 .header-image{
     width: 50%;
 }
 .header-image img{
     width: 556px;
     height: 430px;
 }

 .header-image:hover img{
     transform: scale(1.2) rotate(25deg);
     transition: transform 2s;
 }


  /*--------------------------------
   header-style-end--------------- */




/*------------------------
players-style-start
-------------------------- */

   .players{
    width: 1075px;
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-row-gap: 40px;
       grid-column-gap: 40px;
      
   }

   .player{
    box-shadow: 10px 17px 24px #aaaaaa;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
}



   
   .player-image img{
    width: 300px;
    height: 250px;
    border-radius: 30px;
    margin-top: 20px;
}

.player-info {
    margin: 0px 20px;
}
/*------------------------
players-style-end
-------------------------- */


/* ---------------------------------------
match-highlight-style-start----------------- */
.banner{
    display: flex;
    width: 1075px;
    margin-top: 150px;
    column-gap: 100px;
}

.banner-details h1{
 font-size: 50px;
 margin-bottom: 10px;
 margin-top: 0px;
}

.banner-details p{
    margin-bottom: 30px;
}

.banner-thumbnail img{
    width: 560px;
    height: 420px;
    border-radius: 25px;

}

#result-banner{
    margin-bottom: 100px;
}
/* ---------------------------------------
match-highlight-style-end----------------- */




/* ---------------------------------------
Footer-style-start----------------- */

.footer{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}



.footer .logo img{
    width: 356px; 
    height: 85px;
}

.social-icons{
    display: flex;
}

.social-icon a{
    margin-left: 30px;
    font-size: 20px;
    color: #C0C0C0;
}
.copyright-text{
    font-size: 10px;
}

/* ---------------------------------------
Footer-style-end----------------- */





/* -----------------------------
media-queries-start -------------*/



/* mobile-devices */


@media only screen and (max-width:688px){


   
.header-content{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
}

.header-title{
    margin-left: 40px;
}
.header-image {
    width: 100%;
}

.header-image img {
    width: 200px;
    height: 170px;
    margin-top: 44px;
    margin-left: 25%;
}
.header-title h1{
    font-size: 25px;
}
.button{
    padding: 6px;
}
.button a{
    font-size: 10px;
}
.button i{
    font-size: 10px;
}


.players{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}
.player{
    width: 200px;
}
.player-image img{
    width: 100%;
    height: 200px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* margin: 10px 10px 10px 10px; */
    margin-top: 0px;
}


.banner{
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
}
.banner-details{
    margin-left: 32px;
}
.banner-details h1{
  font-size: 20px;
}

.banner-thumbnail img{
    width: 100%;
    height: 343px;
    border-radius: 25px;
    margin-top: 30px;
}

#result-banner{
    margin-bottom: 20px;
}



.footer .logo img{
    width: 100px;
    height: 50px;
}

.footer{
    margin-bottom: 150px;
}
.copyright-text{
    font-size: 10px;
}
.social-icons {
    display: flex;
    align-items: center;
}

.social-icon a{
    font-size: 15px;
}



























}









/* -----------------------------
media-queries-end -------------*/
